@charset "UTF-8";

//スタイル設定ファイル

//色指定とか
$ushiro: #111111;		//一番後ろ
$haikei: #333333;		//スレ背景
$moji: #FEFEFE;			//文字
$link: #FEFEFE;			//リンクの文字
$link_visited: #999;	//訪問済みリンク
$link_active: #FEFEFE;	//アクティブなリンク
$link_hover: #FEFEFE;	//マウスカーソルが上に載ってる時のリンク
$resmoji: #999;			//レスの文字
$border: #396;          //ボーダーとスレタイトルの左
$b_border: #6C9;        //ボタンのボーダー
$b_border_u: #063;       //ボタンのボーダーその2
$button: #396;			//返信とかのボタン
$button_moji: #FFF;		//ボタンの文字色
$form_txt: #000;		//テキスト入力欄の文字色
$form_txt_bk: #EEEEEE;	//テキスト入力欄の背景色
$th_bg: #111111;        //スレタイトルの背景と削除画面のテーブルの奇数行

//NEO色指定
$bk: #333;				//アプレット背景
$bk2: #222;				//アプレット背景の網状のあれ
$tool_icon: #396;		//「窓」とか
$icon: #063;			//
$iconselect: #063;		//選択してるアイコン
$text: #FFF;			//文字
$bar: #333;				//バー
$tool_button: #369;		//ツールボタン「鉛筆」とか
$tool_button2: #036;	//選択中ツールボタン
$tool_text: #FFF;		//ツールボタンの文字
$tool_bar: #333;		//ツールバーの色
$tool_frame: #222;		//フレームの色
//--------
$cat_img_size: 150px;	//カタログモードのイメージサイズ