@charset "UTF-8";
/*! =====このcssファイルはsassから生成されています。===== */

//設定ファイルの読み込み
@import "mono_conf";

//リセット
* {
	margin: 0px;
	padding: 0px;
}

//iOS対策
label {
    cursor: pointer;
}

//全体的指定
body {
	background-color: $ushiro;
	color: $moji;
	font-family: sans-serif;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
a:link {
	color: $link;
}
a:visited {
	color: $link_visited;
}
a:active {
	color: $link_active;
}
a:hover {
	color: $link_hover;
}

hr {
	border-style: dashed;
	border-width: 1px;
	border-color: $border;
	margin: 1ex auto;
}
hr.hr {
	clear: both;
}
//----------
header, main > section > .thread, footer > article {
	background-color: $haikei;
	padding: 8px;
}
header {
	margin: 12px;
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 1px;
	border-color: $border;
}
main > section > .thread {
	@extend header;
}
main > article#catalog {
	@extend header;
}
footer > article {
	@extend header;
	form {
		text-align: right;
	}
}
footer>article.copy {
	@extend header;
	text-align: right;
}
input {
	border-style: solid;
	border-color: $b_border_u $b_border $b_border $b_border_u;
	border-width: 1px;
	color: $form_txt;
	background-color: $form_txt_bk;
	padding: 3px;
}
textarea {
	@extend input;
	width: 25em;
	height: 5em;
}
button {
	border-style: solid;
	border-color: $b_border $b_border_u $b_border_u $b_border;
	border-width: 1px;
	color: $form_txt;
	background-color: $form_txt_bk;
}
select {
	@extend input;
	padding: 2px;
	vertical-align: middle;
}
select[name="picw"], select[name="pich"] {
	width: 4em;
}
select[name="shi"] {
	width: 11em;
}
input[name="del[]"] {
	width: 4em;
}
input[name="pwd"] {
	width: 6em;
}
input[value="お絵かき"] {
	background-color: $button;
	color: $button_moji;
}
input[name="upfile"] {
	width: 25em;
}
input.copy_txt {
	width: 1px;
	height: 1px;
	position: relative;
	vertical-align: middle;
	left: 2em;
	z-index: -1;
}
button.copy_button {
	@extend button;
	@extend input[value="お絵かき"];
	padding: 3px 1ex 3px 1ex;
	display: inline-block;
}
em.thispage {
	font-weight: bold;
	font-style: normal;
}
.se {
	@extend input;
	background-color: $ushiro;
	color: $moji;
	font-style: normal;
}

h2 {
	border-left: solid 1ex $border;
	background-color: $th_bg;
}
h3 {
	padding-left: 1ex;
	margin-top: 1ex;
}

figure {
	float: left;
	margin-right: 8px;
	margin-bottom: 1ex;
	img {
		max-width: 100%;
	}
}
figcaption {
	font-size: smaller;
}
ul {
	list-style-type: none;
	font-size: smaller;
}
ul.menu {
	font-size: medium;
	line-height: 2em;
}
.res {
	section {
		display: table;
	}
	h3, h4 {
		font-size: 100%;
		margin-bottom: 1ex;
	}
	figure {
		float: none;
	}
}
.resma {
	color: $resmoji;
}
.thfoot {
	clear: left;
	text-align: right;
}
.button {
	@extend button;
	@extend input[value="お絵かき"];
	padding: 3px 1ex 3px 1ex ;
	display: inline-block;
	a {
		text-decoration: none;
		color: $button_moji;
		i {
			color: $button_moji;
		}
	}
}
.oyano, .oyaresno {
	font-weight: bold;
}
.oekaki {
	font-size: smaller;
}
#appstage {
	display: block;
	text-align: center;
	> * {
		display: inline-block;
		vertical-align: middle;
	}
}
.NEO {
	.color_bk { color: $bk; }
	.color_bk2 { color: $bk2; }
	.color_tool_icon { color: $tool_icon; }
	.color_icon { color: $icon; }
	.color_iconselect { color: $iconselect; }
	.color_text { color: $text; }
	.color_bar { color: $bar; }
	.tool_color_button { color: $tool_button; }
	.tool_color_button2 { color: $tool_button2; }
	.tool_color_text { color: $tool_text; }
	.tool_color_bar { color: $tool_bar; }
	.tool_color_frame { color: $tool_frame; }
}
.palette {
	width: 180px;
	fieldset {
		text-align: center;
		textarea {
			width: 120px;
			height: 1.2em;
		}
	}
}
.c {
	text-align: center;
}
#catalog > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	div {
		width: $cat_img_size + 16px;
		text-align: center;
		overflow: hidden;
	}
	p {
		margin: 0.5ex auto;
	}
	img {
		width: $cat_img_size;
		height: $cat_img_size;
	}
}
.delfo {
	font-size: smaller;
	th, td {
		border: 1px solid $ushiro;
	}
	tr:nth-child(odd) {
		background-color: $th_bg;
	}
}

//以下レスポンシブ対応
@media screen and (max-width: 1024px) {
	header, main > section > .thread, main > article#catalog, footer > article {
		width: 90%;
	}
	.res {
		clear: left;
	}
}

@media screen and (max-width: 450px) {
	textarea, input[name="upfile"] {
		width: 15em;
	}
	#appstage {
		display: block;
	}
}
