@charset "UTF-8";
/*! =====このcssファイルはsassから生成されています。===== */
* {
  margin: 0px;
  padding: 0px;
}

label {
  cursor: pointer;
}

body {
  background-color: #222;
  color: #FFF;
  font-family: sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

a:link {
  color: #FFF;
}

a:visited {
  color: #999;
}

a:active {
  color: #FFF;
}

a:hover {
  color: #FFF;
}

a i {
  color: #FFF;
}

hr {
  border-style: solid;
  border-width: 1px;
  border-color: #222;
  margin: 1ex auto;
}

hr.hr {
  clear: both;
}

header, main, footer, footer {
  background-color: #333;
  border-radius: 8px;
  padding: 8px;
}

header {
  width: 300px;
  position: fixed;
  margin: 12px;
  top: 0px;
}

main, footer {
  display: block;
  margin: 12px 12px 12px 340px;
}

footer {
  text-align: right;
}

input, select, em.thispage, .se, textarea, button, button.copy_button, .button, .oyano, .oyaresno {
  border-style: none;
  border-radius: 4px;
  padding: 4px;
  color: #000;
  background-color: #FFF;
}

select {
  padding: 2px;
  vertical-align: middle;
}

input[name="picw"], select[name="picw"], em.thispage[name="picw"], .se[name="picw"], input[name="pich"], select[name="pich"], em.thispage[name="pich"], .se[name="pich"], input[name="del[]"], select[name="del[]"], em.thispage[name="del[]"], .se[name="del[]"], input[name="pwd"], select[name="pwd"], em.thispage[name="pwd"], .se[name="pwd"] {
  width: 3em;
}

input[value="お絵かき"], select[value="お絵かき"], button.copy_button, em.thispage[value="お絵かき"], .se[value="お絵かき"], .button {
  background-color: #396;
  color: #FFF;
}

input[name="upfile"], select[name="upfile"], em.thispage[name="upfile"], .se[name="upfile"] {
  width: 10em;
}

input.copy_txt, select.copy_txt, em.copy_txt.thispage, .copy_txt.se {
  width: 1px;
  height: 1px;
  position: relative;
  vertical-align: middle;
  left: 2em;
  z-index: -1;
}

button.copy_button, .copy_button.button, .copy_button.oyano, .copy_button.oyaresno {
  padding: 3px 1ex 3px 1ex;
  display: inline-block;
}

em.thispage {
  background-color: #222;
  color: #FFF;
  font-style: normal;
  font-weight: bold;
  margin-right: 0.8ex;
}

.se {
  background-color: #222;
  color: #FFF;
  font-style: normal;
  margin-right: 0.8ex;
}

.name {
  border: solid 1px #396;
  border-radius: 4px;
  display: inline-block;
}

.name a {
  text-decoration: none;
  display: block;
  padding: 4px;
  color: inherit;
}

.name:hover {
  background-color: #222;
}

figure {
  float: left;
  margin-right: 8px;
  margin-bottom: 1ex;
}

figure img {
  max-width: 100%;
}

figcaption {
  font-size: smaller;
  margin: 10px 0;
}

ul {
  list-style-type: none;
  font-size: smaller;
}

ul.menu {
  font-size: medium;
  line-height: 2em;
}

.res section {
  display: table;
}

.res h3, .res h4 {
  font-size: 100%;
  margin-bottom: 1ex;
}

.res figure {
  float: none;
  margin: 10px 0;
}

.resma {
  color: #999;
}

.thfoot {
  clear: left;
  text-align: right;
}

.button {
  padding-left: 1ex;
  padding-right: 1ex;
  display: inline-block;
}

.button a {
  text-decoration: none;
  color: #FFF;
}

.button a i {
  color: #FFF;
}

.oyano, .oyaresno {
  background-color: #222;
  color: #FFF;
  display: inline-block;
  text-align: center;
  min-width: 2em;
}

.oekaki {
  font-size: smaller;
}

#appstage {
  display: block;
  text-align: center;
}

#appstage > * {
  display: inline-block;
  vertical-align: middle;
}

.NEO .color_bk {
  color: #333;
}

.NEO .color_bk2 {
  color: #222;
}

.NEO .color_tool_icon {
  color: #396;
}

.NEO .color_icon {
  color: #063;
}

.NEO .color_iconselect {
  color: #063;
}

.NEO .color_text {
  color: #FFF;
}

.NEO .color_bar {
  color: #333;
}

.NEO .tool_color_button {
  color: #369;
}

.NEO .tool_color_button2 {
  color: #036;
}

.NEO .tool_color_text {
  color: #FFF;
}

.NEO .tool_color_bar {
  color: #333;
}

.NEO .tool_color_frame {
  color: #222;
}

.palette {
  width: 180px;
}

.palette fieldset {
  text-align: center;
}

.c {
  text-align: center;
}

#catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#catalog div {
  width: 166px;
  text-align: center;
  overflow: hidden;
}

#catalog p {
  margin: 0.5ex auto;
}

#catalog img {
  width: 150px;
  height: 150px;
}

.delfo {
  font-size: smaller;
}

.delfo th, .delfo td {
  border: 1px solid #222;
}

.delfo tr:nth-child(odd) {
  background-color: #222;
}

@media screen and (max-width: 1024px) {
  .res {
    clear: left;
  }
}

@media screen and (max-width: 768px) {
  header {
    width: auto;
    position: relative;
    margin: 12px;
  }
  main, footer {
    display: block;
    margin: 12px;
  }
  #paintmode header {
    width: 300px;
    position: relative;
    margin: 12px;
  }
  #paintmode main, #paintmode footer {
    display: block;
    margin: 12px;
  }
  #paintmode footer {
    text-align: right;
    margin: 12px;
  }
}

@media screen and (max-width: 450px) {
  footer {
    text-align: right;
    margin: 12px;
  }
  #appstage {
    display: block;
  }
}
