@charset "utf-8";

/* 全体設定 */
body {
	background-color: #ffd7f0;
	margin: 1px 10.5px 1em;
	padding: 2px 0;
}

body,
td {
	color: #666666;
	font-family: "Hiragino Sans", meiryo, ヒラギノ角ゴシック, メイリオ, sans-serif;
	font-size: 16px;
	letter-spacing: 0.09em;
	word-break: break-all;
}

#body {
	max-width: 928px;
	margin: 0 auto;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	padding: 0;
	margin: 0 0 0 1.5em;
}

hr {
	height: 1px;
	border: 0;
	border-top: 1px dashed #888888;
	margin: 2px 0;
}

img {
	border-style: none;
}

.posted_image img,
.posted_img_form img,
.continue_img img {
	max-width: 100%;
	height: auto;
}


input[type="text"],
input[type="submit"],
input[type="password"],
input[type="reset"],
input[type="url"],
input[type="number"],
textarea,
select {
	border: 1px #686868 solid;
	background-color: #FFFFFE;
	border-radius: 0;
	margin: 1px;
	color: #555555;
}

select {
	margin: 0;
}

input[type="file"] {
	border: none;
	background-color: transparent;
}

input:-webkit-autofill {
	box-shadow: 0 0 0 1000px white inset;
	-webkit-box-shadow: 0 0 0 1000px white inset;
}

.nk {
	display: inline-block;
	margin: 0 0 0.2em;
}

.centering {
	margin: 0 auto;
	text-align: center;
}
/* ラジオ・ラベル */

label{
	cursor:pointer;
}

label.radio {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	padding-left: 20px;
}

label.radio:before {
	left: 0;
	content: '';
	z-index: 3;
	position: absolute;
	border-radius: 50%;
	top: 3px;
	width: 12px;
	height: 12px;
	border: 1px solid #8c8c8c;
}

label.radio:after {
	content: '';
	position: absolute;
	border-radius: 100%;
	z-index: 1;
	width: 6px;
	height: 6px;
	left: 4px;
	top: 7px;
	background-color: #83a6e3;
}

label.radio input[type="radio"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	position: absolute;
	z-index: 2;
	width: 20px;
	height: 20px;
	left: -23px;
	top: 1px;
	margin: 0px;
	box-shadow: 20px -1px #ffd7f0;
}

label.radio input[type="radio"]:checked {
	box-shadow: none;
}


label.checkbox {
	position: relative;
	overflow: hidden;
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: middle;
	padding-left: 20px;
	margin-left: 4px;
	line-height: 1.2;
}

label.checkbox:before {
	content: '';
	position: absolute;
	z-index: 3;
	left: 0;
	top: 0;
	width: 15px;
	height: 15px;
	border: 1px solid #888;
}

label.checkbox:after {
	content: '';
	position: absolute;
	display: block;
	top: 40%;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	z-index: 1;
	left: 5px;
	margin-top: -7px;
	width: 4px;
	height: 10px;
	border-right: 3px solid #83a6e3;
	border-bottom: 3px solid #83a6e3;
}

label.checkbox input[type="checkbox"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	position: absolute;
	z-index: 2;
	margin: 0px;
	padding: 0px;
	left: -40px;
	width: 16px;
	height: 16px;
	display: block;
	box-shadow: 41px 0px #ffd7f0;
}

label.checkbox input[type="checkbox"]:checked {
	/* box-shadow: 41px 0px #fefefe; */
	box-shadow: none;
}
label.palette_desc{
	line-height: 1.3;
}


/* リンクの色 */
a {
	color: #6f6f6f;
	text-decoration: underline;
	text-decoration-skip-ink: none;
}

a:hover {
	color: #6f6f6f;
	text-decoration: none;
}

/* リンクのフォーカスを表示しない */

.posted_image a:focus {
	outline: none;
}

/* ヘッダー */
#bbs_title {
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2;
	max-width: 928px;
	border-bottom: 1px dashed;
	color:  #888888;
	margin: 10px auto 15px auto;
}

.title_name_wrap,
.menu_home_wrap {
	display: inline-block;
}

/* メニュー */

.bbsmenu {
	float: left;
	width: auto;
}
.menu_pr {
	float: right;
	width: auto;
}
.clear {
	clear: both;
}
.bbsmenu,
.menu_pr {
	margin-bottom: 15px;
}
.res_bbsmenu,
.res_menu_pr {
	margin-bottom: 0;
}

/* フォーム */

#post_form {
	margin: 3px auto;
}

#self2 {
	margin: 10px auto 15px;
	max-width: 928px;
}
.post_t_margin {
    margin: 12px 0 0;
}
#post_table input {
	font-size: inherit;
}

#post_table input[type="submit"] {
	font-size: 14px;
}

.margin_radio {
	margin-bottom: 15px;
}

#post_table td {
	padding: 2px;
}

.post_table_title {
	width: 5.5em;
}

.td_noborder {
	border: none;
}

.post_input_text {
	width: 210px;
	height: 16px;
	padding: 1px;
}

.post_input_pass {
	width: 10em;
	height: 16px;
	padding: 1px;
	color: #666666;
}

.post_table_submit {
	height: 2em;
}

.post_submit {
	height: 2em;
	width: 8em;
	font-size: 13px;
}

#post_table select {
	color: #666666;
	height: 20px;
	padding: 1px;
}

#up_desc li {
	list-style-type: square;
}

input.pch_upload {
    font-size: inherit;
    margin: 8px 0;
}

/* コメント欄の幅 */

#post_table {
	border-collapse: collapse;
	margin: 0 auto;
}

.post_input_com {
	height: 6.2em;
	width: 338px;
	padding: 1px;
	font-size: inherit;
	font-family: inherit;
	line-height: 1.3;
}


/* 親記事 */
.article_title {
	font-size: 18px;
	line-height: 115%;
	background-color: #ffb5e6;
	font-weight: 700;
	border-left: 8px solid;
	border-bottom: 1px dashed;
	color: #888888;
	padding: 6px 0 2px 5px;
	margin: 0 0 8px;
}

.article_title a {
	display: block;
	color: #888888;
	text-decoration: none;
}

.article_info {
	padding: 0;
	margin: 5px 0 8px;
}

.article_info_desc {
	padding-right: 4px;
	display: inline-block;
}

.article_info_wrap {
	display: inline-block;
}

.article_info_painttime {
	padding-right: 3px;
}

.article_info_continue {
	padding-right: 1px;
}

.article_info_animation {
	padding-left: 0;
}

.article_img_info {
	margin: 3px 0 14px;
}

.res_article_img_info {
	margin: 2px 0 8px;
}

/* comment */

.comment {
	margin: 0 0 12px;
	display: table;
	min-width: 200px;
	line-height: 185%;
	/*	letter-spacing: 0.08em;*/
}

/* img max-width */

.article_limit {
	font-weight: 700;
	text-align: right;
	color: #fd95d0;
}

.article_skipres {
	text-align: right;
}

/* レス */
.res_article_wrap {
	display: table;
}

.res_article_title {
	margin: 6px 0 5px;
}

.res_button_wrap {
	clear: both;
	text-align: right;
	margin: 0 0 8px;
}

.res_button {
	width: 6em;
	height: 2em;
	font-size: 13.8px;
}

.res_button_wrap form {
	display: inline-block;
	margin: 0;
}

.share_button {
	display: inline-block;
	margin: 0 3px 0;
	vertical-align: bottom;
}

.icon-twitter,
.icon-facebook2 {
	display: inline-block;
	padding: 0 2px;
}

.page_top {
	display: inline-block;
	margin: 0 3px 0;
	vertical-align: bottom;
}

/* ミニレスフォーム */
.minires_wrap {
	max-width: 500px;
	text-align: right;
	margin-left: auto;
}

.minres_form_table {
	width: 100%;
	max-width: 500px;
	text-align: right;
}

.minres_title {
	width: 6em;
}

.minres_input_text {
	width: 100%;
	color: #555555;
	height: 16px;
	padding: 1px;
}

.minres_input_com {
	width: 100%;
	height: 3em;
	color: #555555;
	padding: 1px;
}

.minres_input_other {
	width: 10em;
	height: 16px;
	padding: 1px;
}

.color_select {
	background-color: #FFFEFF;
	color: #666666;
}


/* ページリンク */
.pagelink {
	text-align: center;
	margin: 1em auto;
}

#paging_wrap {
	margin: 1em 0 -0.5em;
	line-height: 2;
	text-align: center;
	font-size: 15px;
}

.page_number {
	padding: 0 2px;
}

.parentheses {
	padding: 0 2px;
	display: inline-block;
}

.pagelink_prev,
.pagelink_top,
.pagelink_next {
	display: inline-block;
	position: relative;
	padding: 0;
}

.pagelink_prev a,
.pagelink_top a,
.pagelink_next a {
	display: inline-block;
	padding: 2px 3px;
}

.pagelink_prev {
	text-align: right;
	width: 72px;
	margin: 1px 0;
}

.pagelink_prev a {
	padding-left: 14px;
}

.pagelink_top {
	text-align: center;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
	padding: 0 5px;
	margin: 1px 0;
}

.pagelink_next {
	text-align: left;
	width: 72px;
	margin: 1px 0;
}

.pagelink_next a {
	padding-right: 14px;
}

/* 記事メンテナンス */
.mente_wrap {
	text-align: center;
	margin: 1em 1em 0.8em;
}

.edit_number {
	height: 16px;
	vertical-align: middle;
	width: 60px;
}

.edit_password {
	width: 80px;
	height: 16px;
	vertical-align: middle;
	margin: 0 2px;
	padding: 1px;
}

.mente_wrap select {
	height: 21px;
	padding: 0 0 0 2px;
	vertical-align: middle;
}

.mente_wrap input[type="submit"] {
	font-size: 13px;
	height: 21px;
	vertical-align: middle;
}

/* 著作権表示 */
.copyright {
	text-align: center;
	margin: 14px 10px 14px;
}

/* カタログ表示 */
.catalog_title {
	background-color: #ffb5e6;
}

.catalog_desc_wrap {
	max-width: 100%;
	margin: 16px auto 0;
}

.catalog_wrap {
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: top;
	width: 300px;
	padding: 0 0 15px 0;
	margin: 1px 14px 10px 0;
	line-height: 138%;
}

.catalog_desc_wrap div:nth-of-type(3n) {
	margin-right: 0;
}

.catalog_title {
	line-height: 125%;
	background-color: #ffb5e6;
	font-weight: 700;
	margin: 0 0 1px 0;
	padding: 4px 5px;
	letter-spacing: 0.08em;
	color: #8a8a8a;
	font-size: 16px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}



.catalog_title a {
	color: #8a8a8a;
	text-decoration: none;
}

.catalog_name {
	margin: 3px 0 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.catalog_time {
	margin: 0 0 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.catalog_img {
	width: 100%;
	height: auto;
}

.catalog_img img {
	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
	margin: 0 auto;
	display: block;
}

.no_article {
	height: 0;
	border: none;
	padding: 0 4px;
}

.catalog_noimg a {
	display: block;
	padding: 8px 4px;
}

.catalog_noimg a:hover {
	display: block;
	padding: 8px 4px;
}


.paint_password {
	color: #666666;
	width: 80px;
	height: 16px;
	padding: 1px;
}

.paint_select {
	color: #666666;
	height: 21px;
}

/* 管理モード */
.admindel_table {
	text-align: center;
}

.admindel_table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 0;
}


.hensyu {
	font-weight: 700;
	color: #ff88cc;
}

.admindel_table tr {
	height: 2.5em;
}

.admindel_table td,
.admindel_table th {
	border: 1px solid #8a8a8a;
	padding: 2px;
}

.delcheck label {
	vertical-align: middle;
}

.error_mesage {
	line-height: 200%;
	text-align: center;
	font-size: 30px;
	color: #f8c;
	;
	margin: 1em 0;
	border-top: 1px dashed #666666;
	border-bottom: 1px dashed #666666;
}

.adminpass {
	width: 80px;
	height: 18px;
	padding: 1px;
}

.admin_submit {
	height: 23px;
}


.howtopaint {
	margin: 15px auto 15px;
}

.applet {
	width: auto;
	margin: 0 auto;
}

.continue_img {
	max-width: 928px;
	margin-right: auto;
	margin-left: auto;
}

/* 動的パレットの位置と装飾 */
.palette {
	background-color: #ffb5e6;
}

/* お絵かきモード */

.appstage {
	margin: 0 auto;
	display: table;
}

.app {
	display: table-cell;
	vertical-align: top
}

.palette_wrap {
	display: table-cell;
	vertical-align: middle
}

.palette {
	margin-left: 12px;
	width: 148px;
	border: 1px solid #666;
	padding: 6px
}

.palette_gradation {
	margin: 10px 0 0 12px;
	padding: 6px
}

.palette input,
.palette_gradation input {
	color: #555;
	background-color: #fffeff;
	border: 1px solid #686868
}

.palette_hr {
	border: none
}

.palette_desc {
	font-family: Impact, Arial;
	font-size: 14px;
}

.palette_select {
	margin: 2px 0;
	min-width: 130px;
}

.paintbbs_memo {
	margin: 18px auto 18px;
	line-height: 146%;
	color: #666;
	min-width: 180px;
	max-width: 768px
}

.paintbbs_memo li {
	list-style-type: circle
}

.paintbbs_memo div {
	margin-bottom: 15px
}

.applet_painttime {
	margin-top: 15px
}

.continue_painttime {
	margin: 0 auto 8px;
	max-width: 928px;
}

/* 掲示板の説明文 */
.howtouse {
	margin-top: 0;
	margin-bottom: 12px;
}

/*  続から描く説明文 */
.howtocontinue {
	margin: 15px auto 8px;
	display: table;
	text-align: left;
}

/* レス書き込みの説明 */
.howtowrite {
	list-style-type: square;
	margin-top: 6px;
}



.margin_resbutton_res {
	margin: 5px 0;
}

.continue_img img {
	margin: 3px 0 6px;
}

.posted_img_form img {

	margin-top: 10px;
	margin-bottom: 10px;
}

.posted_img_form {

	max-width: 928px;
	margin: 0 auto;
}

/* 画像とコメントの位置 */

.posted_image {
	float: left;
	margin: 0 0 12px;
	margin-right: 18px;
}

.article_info_name {
	color: grey;
	font-weight: 700;
	margin: 0 5px 5px 0;
	border: 1px solid #dcb5cd;
	border-radius: 5px;
	line-height: 1em;
	display: inline-block
}

.article_info_name a {
	color: grey;
	text-decoration: none;
	padding: 4px;
	display: block
}

.article_info_name:hover {
	background-color: #ffe4f5
}

.use_neo,.use_animation,.bold_gray {
	font-weight: 700;
	color: gray;
}


/* ペイントボタン */
.paint_button {
	width: 78px;
	height: 25px;
}

.select_applet {
	height: 25px;
}

.canvas_size {
	font-weight: 700;
	color: gray;
}

.canvas_select {
	height: 25px;
}

#res_paint_form {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.post_select_image {
	height: 20px;
	padding: 1px 3px 1px 1px;
}

.pch_download {
	text-align: center;
	margin: 10px 0 0 0;
	line-height: 1.8;
}

.howtoedit {
	display: inline-block;
}


.webstyle_wrap {
	display: inline-block;
}
/* ツール左右切り替え */
.nts_radio {
	display: none;
}

.ntslabel {
	color: #6f6f6f;
	display: inline-block;
	padding: 0 10px;
	text-align: center;
	cursor: pointer;
	border: 2px solid #ffbde8;
	border-radius: 15px;
}

input[type=radio]:checked+label {
	color: #626262;
	background: #ffbde8;
}

.ntslabel:hover {
	background-color: #ffe4f5;
}

.nts_radiowrap {
	display: inline-block;
	margin: 0 0 5px 0;
}
/* 投稿者名をコピー */
input.copy_txt {
	margin: 0;
	padding: 0;
	border: none;
	background-color: #ffd7f0;
	width: 1px;
	color: #ffd7f0
}

.copy_button {
	border: 1px solid #dcb5cd;
	color: #686868;
	background-color: #ffd7f0;
	padding: 3px 5px;
	border-radius: 5px;
	margin: 0 3px 0 -2px
}

.copy_button:hover {
	background-color: #ffe4f5
}

input.copy_txt::selection {
	color: #ffd7f0;
	background-color: #ffd7f0
}

/* メディアクエリ */

@media screen and (max-width: 965px) {
	.catalog_title {
		font-size: 15px;
	}
	.catalog_wrap {
		width: 32.32%;
		margin: 1px 1.52% 11px 0;
	}
}

@media screen and (max-width: 767px) {

	/* 767px以下の幅の場合に適用される */
	#res_paint_form,
	.howtopaint,
	.txtnon,
	.article_info_painttime,label.use_neo,
	.menu_pr,.res_menu_pr,.column_non {
		display: none;
	}
	.posted_image {
		float: none;
		margin-right: 0;
	}
	.catalog_desc_wrap {
		max-width: 560px;
	}

	.catalog_wrap {
		margin: 1px 2% 12px 0;
		width: 49%;
	}

	.catalog_desc_wrap div:nth-of-type(3n) {
		margin-right: 2%;
	}

	.catalog_desc_wrap div:nth-of-type(2n) {
		margin-right: 0;
	}
}
@media screen and (max-width: 639px) {
	.palette_type {
		display: none;
		}
}


@media screen and (max-width: 600px) {
	.minres_form_table td {
		display: block;
		width: 100%;
	}
}

@media screen and (min-width: 560px) {

	/* 560px以上の幅の場合に適用される */
	.nobreak {
		white-space: nowrap;
	}
}

@media screen and (max-width: 499px) {
	#post_table {
		width: 100%;
		line-height: 1;
	}

	#post_table td {
		display: block;
		width: 100%;
	}

	.post_input_com {
		width: 98%;
	}
	label.use_animation {
		display: none;
		}
	label.textonly:before{
		top:0;
	}
	label.textonly{
		margin: 8px 0 ;
	}
	.howtoedit {
		margin: 8px 0 3px;
		}
}

