<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="<% echo(charset) %>">
		<% def(paint_mode) %>
		<% def(pinchin) %>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<% elsedef %>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
		<% /def %>
		<% /def %>
		<% def(pch_mode) %><meta name="viewport" content="width=device-width"><% /def %>
		<% def(continue_mode) %><meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"><% /def %>
		<% def(useneo) %>
		<link rel="stylesheet" href="neo.css?<% echo(stime) %>" type="text/css">
		<script src="neo.js?<% echo(stime) %>" charset="UTF-8"></script>
		<% /def %>
		<% def(pch_mode) %>
		<link rel="stylesheet" href="neo.css?<% echo(stime) %>" type="text/css">
		<script src="neo.js?<% echo(stime) %>" charset="UTF-8"></script>
		<% /def %>
		<!-- Javaが使えるかどうか判定 使えなければcheerpJをロード -->
		<script>
		function cheerpJLoad() {
		var jEnabled = navigator.javaEnabled();
		if(!jEnabled){
			var sN = document.createElement("script");
			sN.src = "https://cjrtnc.leaningtech.com/latest/loader.js";
			var s0 = document.getElementsByTagName("script")[0];
			s0.parentNode.insertBefore(sN, s0);
			sN.addEventListener("load", function(){ cheerpjInit(); }, false);
			}
		}
		window.addEventListener("load", function() { cheerpJLoad(); }, false);
		</script>
		<script type="text/javascript">
			var css = GetCookie("CSS");
			if(css == ""){css = "<% echo(skindir) %>css/mono_main.css";}
			document.write('<link rel="stylesheet" href="' + css + '" type="text/css">');
			function SetCss(file){
				SetCookie("CSS", file);
				window.location.reload();
			}
			function GetCookie(key){
				var tmp = document.cookie + ";";
				var tmp1 = tmp.indexOf(key, 0);
				if(tmp1 != -1){
					tmp = tmp.substring(tmp1, tmp.length);
					var start = tmp.indexOf("=", 0) + 1;
					var end = tmp.indexOf(";", start);
					return(unescape(tmp.substring(start,end)));
					}
				return("");
			}
			function SetCookie(key, val){
				document.cookie = key + "=" + escape(val) + ";max-age=31536000;";
			}
		</script>
		<noscript>
			<link rel="stylesheet" href="<% echo(skindir) %>css/mono_main.css" type="text/css">
		</noscript>
		<title><% echo(title) %></title>
	</head>
	<body id="paintmode">
		<header>
			<h1><a href="<% echo(self2) %>"><% echo(title) %></a></h1>
			<div>
				<a href="<% echo(home) %>" target="_top">[ホーム]</a>
				<a href="<% echo(self) %>?mode=admin">[管理モード]</a>
			</div>
			<hr>
			<article>
				<p class="menu">
					<a href="./">[もどる]</a>
				</p>
			</article>
			<hr>
			<% def(paint_mode) %>
			<h2 class="oekaki">OEKAKI MODE</h2>
			<% /def %>
			<% def(continue_mode) %>
			<h2 class="oekaki">CONTINUE MODE</h2>
			<% /def %>
		</header>
		<main>
			<% def(paint_mode) %>
			<!-- (========== PAINT MODE(お絵かきモード) start ==========) -->
			<script>
				var DynamicColor = 1;	// パレットリストに色表示
				var Palettes = new Array();
				<% def(palettes) %>
				<% echo(palettes) %>
				<% /def %>
				function setPalette(){d=document;d.paintbbs.setColors(Palettes[d.Palette.select.selectedIndex]);d.grad.view.checked&&GetPalette()}function PaletteSave(){Palettes[0]=String(document.paintbbs.getColors())}var cutomP=0;
				function PaletteNew(){d=document;p=String(d.paintbbs.getColors());s=d.Palette.select;Palettes[s.length]=p;cutomP++;str=prompt("パレット名","パレット "+cutomP);null==str||""==str?cutomP--:(s.options[s.length]=new Option(str),30>s.length&&(s.size=s.length),PaletteListSetColor())}function PaletteRenew(){d=document;Palettes[d.Palette.select.selectedIndex]=String(d.paintbbs.getColors());PaletteListSetColor()}
				function PaletteDel(){p=Palettes.length;s=document.Palette.select;i=s.selectedIndex;if(-1!=i&&(flag=confirm("「"+s.options[i].text + "」を削除してよろしいですか？"))){for(s.options[i]=null;p>i;)Palettes[i]=Palettes[i+1],i++;30>s.length&&(s.size=s.length)}}
				function P_Effect(a){a=parseInt(a);x=1;255==a&&(x=-1);d=document.paintbbs;p=String(d.getColors()).split("\n");l=p.length;var f="";for(n=0;l>n;n++)R=a+parseInt("0x"+p[n].substr(1,2))*x,G=a+parseInt("0x"+p[n].substr(3,2))*x,B=a+parseInt("0x"+p[n].substr(5,2))*x,255<R?R=255:0>R&&(R=0),255<G?G=255:0>G&&(G=0),255<B?B=255:0>B&&(B=0),f+="#"+Hex(R)+Hex(G)+Hex(B)+"\n";d.setColors(f);PaletteListSetColor()}
				function PaletteMatrixGet(){d=document.Palette;p=Palettes.length;s=d.select;m=d.m_m.selectedIndex;t=d.setr;switch(m){default:t.value="";for(c=n=0;p>n;)null!=s.options[n]&&(t.value=t.value+"\n!"+s.options[n].text+"\n"+Palettes[n],c++),n++;alert("パレット数："+c+"\nパレットマトリクスを取得しました");break;case 1:t.value="!Palette\n"+String(document.paintbbs.getColors())
				alert("現在使用されているパレット情報を取得しました")}t.value=
				t.value.trim()+"\n!Matrix"}
				function PalleteMatrixSet(){m=document.Palette.m_m.selectedIndex;str="パレットマトリクスをセットします。";switch(m){default:flag=confirm(str+"\n現在の全パレット情報は失われますがよろしいですか？");break;case 1:flag=confirm(str+"\n現在使用しているパレットと置き換えますがよろしいですか？");break;
				case 2:flag=confirm(str+"\n現在のパレット情報に追加しますがよろしいですか？")}flag&&(PaletteSet(),s.size=30>s.length?s.length:30,DynamicColor&&PaletteListSetColor())}
				function PalleteMatrixHelp(){alert("★PALETTE MATRIX\nパレットマトリクスとはパレット情報を列挙したテキストを用いる事により\n自由なパレット設定を使用する事が出来ます。\n\n□マトリクスの取得\n1)「取得」ボタンよりパレットマトリクスを取得します。\n2)取得された情報が下のテキストエリアに出ます、これを全てコピーします。\n3)このマトリクス情報をテキストとしてファイルに保存しておくなりしましょう。\n\n□マトリクスのセット\n1）コピーしたマトリクスを下のテキストエリアに貼り付け(ペースト)します。\n2)ファイルに保存してある場合は、それをコピーし貼り付けます。\n3)「セット」ボタンを押せば保存されたパレットが使用できます。\n\n余分な情報があるとパレットが正しくセットされませんのでご注意下さい。")}
				function PaletteSet(){d=document.Palette;se=d.setr.value;s=d.select;m=d.m_m.selectedIndex;l=se.length;if(1>l)alert("マトリクス情報がありません。");else{e=o=n=0;switch(m){default:for(n=s.length;0<n;)n--,s.options[n]=null;case 2:i=s.options.length;n=se.indexOf("!",0)+1;if(0==n)return;Matrix1=1;for(Matrix2=-1;n<l;){e=se.indexOf("\n#",n);if(-1==e)return;pn=se.substring(n,e+Matrix1);o=se.indexOf("!",e);if(-1==o)return;pa=se.substring(e+1,o+Matrix2);
				"Palette"!=pn?(0<=i&&(s.options[i]=new Option(pn)),Palettes[i]=pa,i++):document.paintbbs.setColors(pa);n=o+1}break;case 1:n=se.indexOf("!",0)+1;if(0==n)return;e=se.indexOf("\n#",n);o=se.indexOf("!",e);0<=e&&(pa=se.substring(e+1,o-1));document.paintbbs.setColors(pa)}PaletteListSetColor()}}function PaletteListSetColor(){var a=document.Palette.select;for(i=1;a.options.length>i;i++){var f=Palettes[i].split("\n");a.options[i].style.background=f[4];a.options[i].style.color=GetBright(f[4])}}
				function GetBright(a){r=parseInt("0x"+a.substr(1,2));g=parseInt("0x"+a.substr(3,2));b=parseInt("0x"+a.substr(5,2));a=r>=g?r>=b?r:b:g>=b?g:b;return 128>a?"#FFFFFF":"#000000"}function Chenge_(){var a=document.grad.pst.value,f=document.grad.ped.value;isNaN(parseInt("0x"+a))||isNaN(parseInt("0x"+f))||GradView("#"+a,"#"+f)}
				function ChengeGrad(){var a=document,f=a.grad.pst.value,h=a.grad.ped.value;Chenge_();var u=parseInt("0x"+f.substr(0,2)),v=parseInt("0x"+f.substr(2,2));f=parseInt("0x"+f.substr(4,2));var k=parseInt((u-parseInt("0x"+h.substr(0,2)))/15),q=parseInt((v-parseInt("0x"+h.substr(2,2)))/15);h=parseInt((f-parseInt("0x"+h.substr(4,2)))/15);isNaN(k)&&(k=1);isNaN(q)&&(q=1);isNaN(h)&&(h=1);var w=new String;cnt=0;m1=u;m2=v;for(m3=f;14>cnt;cnt++,m1-=k,m2-=q,m3-=h){if(255<m1||0>m1)k*=-1,m1-=k;if(255<m2||0>m2)q*=-1,
				m2-=q;if(255<m3||0>m3)h*=-1,m2-=h;w+="#"+Hex(m1)+Hex(m2)+Hex(m3)+"\n"}a.paintbbs.setColors(w)}function Hex(a){a=parseInt(a);0>a&&(a*=-1);for(var f=new String,h;16<a;)h=a,16<a&&(a=parseInt(a/16),h-=16*a),h=Hex_(h),f=h+f;h=Hex_(a);for(f=h+f;2>f.length;)f="0"+f;return f}function Hex_(a){isNaN(a)?a="":10==a?a="A":11==a?a="B":12==a?a="C":13==a?a="D":14==a?a="E":15==a&&(a="F");return a}
				function GetPalette(){d=document;p=String(d.paintbbs.getColors());"null"!=p&&""!=p&&(ps=p.split("\n"),st=d.grad.p_st.selectedIndex,ed=d.grad.p_ed.selectedIndex,d.grad.pst.value=ps[st].substr(1.6),d.grad.ped.value=ps[ed].substr(1.6),GradSelC(),GradView(ps[st],ps[ed]),PaletteListSetColor())}
				function GradSelC(){if(d.grad.view.checked){d=document.grad;l=ps.length;pe="";for(n=0;l>n;n++)R=255+-1*parseInt("0x"+ps[n].substr(1,2)),G=255+-1*parseInt("0x"+ps[n].substr(3,2)),B=255+-1*parseInt("0x"+ps[n].substr(5,2)),255<R?R=255:0>R&&(R=0),255<G?G=255:0>G&&(G=0),255<B?B=255:0>B&&(B=0),pe+="#"+Hex(R)+Hex(G)+Hex(B)+"\n";pe=pe.split("\n");for(n=0;l>n;n++)d.p_st.options[n].style.background=ps[n],d.p_st.options[n].style.color=pe[n],d.p_ed.options[n].style.background=ps[n],d.p_ed.options[n].style.color=pe[n]}}function GradView(a,f){d=document}function showHideLayer(){d=document;var a=d.layers?d.layers.psft:d.all("psft").style;d.grad.view.checked||(a.visibility="hidden");d.grad.view.checked&&(a.visibility="visible",GetPalette())};
			</script>
			<noscript>
				<p>JavaScriptが動いてないよ</p>
			</noscript>
			<article id="appstage">
				<div class="app">
					<% def(paintbbs) %>
					<% def(useneo) %>
					<applet-dummy code="pbbs.PaintBBS.class" archive="./PaintBBS.jar" name="paintbbs" width="<% echo(w) %>" height="<% echo(h) %>" mayscript>
					<% elsedef %>
					<applet code="pbbs.PaintBBS.class" archive="./PaintBBS.jar" name="paintbbs" width="<% echo(w) %>" height="<% echo(h) %>" mayscript>
					<% /def %>
					<% /def %>
					<!--(========== しぃペインター個別設定 ==========)-->
					<% def(normal) %>
					<applet code="c.ShiPainter.class" archive="spainter_all.jar" name="paintbbs" WIDTH="<% 	echo(w) %>" HEIGHT="<% echo(h) %>" mayscript>
						<param name=dir_resource value="./">
						<param name="tt.zip" value="tt_def.zip">
						<param name="res.zip" value="res.zip">
						<!--(しぃペインターv1.05_9以前を使うなら res_normal.zip に変更)-->
						<param name=tools value="normal">
						<param name=layer_count value="<% echo(layer_count) %>">
						<% def(quality) %><param name=quality value="<% echo(quality) %>"><% /def %>
						<% /def %>
						<!--(========== しぃペインターPro個別設定 ==========)-->
					<% def(pro) %>
					<applet code="c.ShiPainter.class" archive="spainter_all.jar" name="paintbbs" WIDTH="<% 	echo(w) %>" HEIGHT="<% echo(h) %>" mayscript>
						<param name=dir_resource value="./">
						<param name="tt.zip" value="tt_def.zip">
						<param name="res.zip" value="res.zip"><!--(しぃペインターv1.05_9以前を使うなら res_pro.	zip に変更)-->
						<param name=tools value="pro">
						<param name=layer_count value="<% echo(layer_count) %>">
						<% def(quality) %><param name=quality value="<% echo(quality) %>"><% /def %>
						<% /def %>
						<!--(========== 共通設定(変更不可) ==========)-->
						<param name="image_width" value="<% echo(picw) %>">
						<param name="image_height" value="<% echo(pich) %>">
						<param name="image_jpeg" value="<% echo(image_jpeg) %>">
						<param name="image_size" value="<% echo(image_size) %>">
						<param name="compress_level" value="<% echo(compress_level) %>">
						<param name="undo" value="<% echo(undo) %>">
						<param name="undo_in_mg" value="<% echo(undo_in_mg) %>">
						<param name="url_save" value="picpost.php">
						<param name="url_exit" value="<% echo(self) %>?mode=<% echo(mode) %>&amp;stime=<% echo(stime) %>">
						<% def(anime) %><param name="thumbnail_type" value="animation"><% /def %>
						<% def(pchfile) %><param name="pch_file" value="<% echo(pchfile) %>"><% /def %>
						<% def(imgfile) %><param name="image_canvas" value="<% echo(imgfile) %>"><% /def %>
						<% def(usercode) %><param name="send_header" value="usercode=<% echo(usercode) %>"><% /def %>
						<param name="poo" value="false">
						<param name="send_advance" value="true">
						<param name="thumbnail_width" value="100%">
						<param name="thumbnail_height" value="100%">
						<param name="tool_advance" value="true">
						<% def(security) %>
						<% def(security_click) %><param name="security_click" value="<% echo(security_click) %>"><% /def %>
						<% def(security_timer) %><param name="security_timer" value="<% echo(security_timer) %>"><% /def %>
						<param name="security_url" value="<% echo(security_url) %>">
						<param name="security_post" value="false">
						<% /def %>
					<% def(useneo) %>
						<param name="neo_confirm_unload" value="true">
					</applet-dummy>
					<% elsedef %>
					</applet>
					<% /def %>
				</div>
				<div class="palette">
					<form name="Palette">
						<% def(useneo) %>
						<fieldset>
							<legend>TOOL</legend>
							<input class="button" type="button" value="左" onclick="Neo.setToolSide(true)">
							<input class="button" type="button" value="右" onclick="Neo.setToolSide(false)">
						</fieldset>
						<% /def %>
						<fieldset>
							<legend>PALETTE</legend>
							<select class="form" name="select" size="13" onchange="setPalette()">
								<option>一時パレット</option>
								<% def(dynp) %><?php echo "\n"; ?>
								<% echo(dynp) %>
								<% /def %><?php echo "\n"; ?>
							</select><br>
							<input class="button" type="button" value="一時保存" onclick="PaletteSave()"><br>
							<input class="button" type="button" value="作成" onclick="PaletteNew()">
							<input class="button" type="button" value="変更" onclick="PaletteRenew()">
							<input class="button" type="button" value="削除" onclick="PaletteDel()"><br>
							<input class="button" type="button" value="明＋" onclick="P_Effect(10)">
							<input class="button" type="button" value="明－" onclick="P_Effect(-10)">
							<input class="button" type="button" value="反転" onclick="P_Effect(255)">
						</fieldset>
						<fieldset>
							<legend>MATRIX</legend>
							<select class="form" name="m_m">
								<option value="0">全体</option>
								<option value="1">現在</option>
								<option value="2">追加</option>
							</select>
							<input type="button" class="button" name="m_g" value="GET" onclick="PaletteMatrixGet()">
							<input type="button" class="button" name="m_h" value="SET" onclick="PalleteMatrixSet()">
							<input type="button" class="button" name="1" value=" ? " onclick="PalleteMatrixHelp()"><br>
							<textarea class="form" name="setr" rows="1" cols="13" onmouseover="this.select()"></textarea>
						</fieldset>
					</form>
					<form name="grad">
						<fieldset>
							<legend>GRADATION</legend>
							<input type="checkbox" name="view" onclick="showHideLayer()">
							<input type="button" class="button" value=" OK " onclick="ChengeGrad()"><br>
							<select class="form" name="p_st" onchange="GetPalette()">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
								<option>10</option>
								<option>11</option>
								<option>12</option>
								<option>13</option>
								<option>14</option>
							</select>
							<input class="form" type="text" name="pst" size="8" onkeypress="Chenge_()" onchange="Chenge_()"><br>
							<select class="form" name="p_ed" onchange="GetPalette()">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
								<option>10</option>
								<option>11</option>
								<option selected>12</option>
								<option>13</option>
								<option>14</option>
							</select>
							<input class="form" type="text" name="ped" size="8" onkeypress="Chenge_()" onchange="Chenge_()"><div id="psft" style="position:absolute;width:100px;height:30px;z-index:1;left:5px;top:10px;"></div>
							<script type="text/javascript">
								if(DynamicColor) PaletteListSetColor();
							</script>
						</fieldset>
						<p class="c">DynamicPalette &copy;NoraNeko</p>
					</form>
				</div>
			</article>
			<% def(paint_mode) %>
			<section>
				<div class="thread">
					<hr>
					<div class="timeid">
						<form class="watch" action="index.html" name="watch">
							<p>
								PaintTime :
								<input type="text" size="24" name="count">
							</p>
							<script type="text/javascript">
								timerID = 10;
								stime = new Date();
								function SetTimeCount() {
									now = new Date();
									s = Math.floor((now.getTime() - stime.getTime())/1000);
									disp = '';
									if(s >= 86400){
										d = Math.floor(s/86400);
										disp += d+"day ";
										s -= d*86400;
									}
									if(s >= 3600){
										h = Math.floor(s/3600);
										disp += h+"hr ";
										s -= h*3600;
									}
									if(s >= 60){
										m = Math.floor(s/60);
										disp += m+"min ";
										s -= m*60;
									}
									document.watch.count.value = disp+s+"sec";
									clearTimeout(timerID);
									timerID = setTimeout('SetTimeCount()',250);
								}
								SetTimeCount();
							</script>
						</form>
					<hr>
					</div>
				</div>
			</section>
			<% /def %>
			<section>
				<div class="thread siihelp">
					<p>
						ミスしてページを変えたりウインドウを消してしまったりした場合は落ちついて同じキャンバスの幅で編集ページを開きなおしてみて下さい。大抵は残っています。
					</p>
					<h2>基本の動作(恐らくこれだけは覚えておいた方が良い機能)</h2>
					<section>
						<h3>基本</h3>
						<section>
							<p>
								PaintBBSでは右クリック、ctrl+クリック、alt+クリックは同じ動作をします。<br>
								基本的に操作は一回のクリックか右クリックで動作が完了します。(ベジエやコピー使用時を除く)
							</p>
						</section>
						<h3>ツールバー</h3>
						<section>
							<p>
								ツールバーの殆どのボタンは複数回クリックして機能を切り替える事が出来ます。<br>
								右クリックで逆周り。その他パレットの色、マスクの色、一字保存ツールに現在の状態を登録、レイヤ表示非表示切り替え等全て右クリックです。<br>
								逆にクリックでパレットの色と一時保存ツールに保存しておいた状態を取り出せます。
							</p>
						</section>
						<h3>キャンバス部分</h3>
						<p>
							右クリックで色をスポイトします。<br>
							ベジエやコピー等の処理の途中で右クリックを押すとリセットします。
						</p>
					</section>
					<h2>特殊動作(使う必要は無いが慣れれば便利な機能)</h2>
					<section>
						<h3>ツールバー</h3>
						<section>
							<p>
								値を変更するバーはドラッグ時バーの外に出した場合変化が緩やかになりますのでそれを利用して細かく変更する事が出来ます。パレットはShift+クリックで色をデフォルトの状態に戻します。
							</p>
						</section>
						<h3>キーボードのショートカット</h3>
						<section>
							<ul>
								<li>+で拡大-で縮小。</li>
								<li>Ctrl+ZかCtrl+Uで元に戻す、Ctrl+Alt+ZかCtrl+Yでやり直し。</li>
								<li>Escでコピーやベジエのリセット。（右クリックでも同じ） </li>
								<li>スペースキーを押しながらキャンバスをドラッグするとスクロールの自由移動。</li>
								<li>Ctrl+Alt+ドラッグで線の幅を変更。</li>
							</ul>
						</section>
						<h3>コピーツールの特殊な利用方法</h3>
						<section>
							<p>
								レイヤー間の移動は現時点ではコピーとレイヤー結合のみです。コピーでの移動方法は、まず移動したいレイヤ上の長方形を選択後、移動させたいレイヤを選択後に通常のコピーの作業を続けます。そうする事によりレイヤ間の移動が可能になります。
							</p>
						</section>
						<h2>ツールバーのボタンと特殊な機能の簡単な説明</h2>
						<section>
							<dl>
								<dt>ペン先(通常ペン,水彩ペン,テキスト)</dt>
								<dd>
									メインのフリーライン系のペンとテキスト
								</dd>
								<dt>ペン先2(トーン,ぼかし,他)</dt>
								<dd>
									特殊な効果を出すフリーライン系のペン
								</dd>
								<dt>図形(円や長方形)</dt>
								<dd>
									長方形や円等の図形
								</dd>
								<dt>特殊(コピーやレイヤー結合,反転等)</dt>
								<dd>
									コピーは一度選択後、ドラッグして移動、コピーさせるツールです。
								</dd>
								<dt>マスクモード指定(通常,マスク,逆マスク）</dt>
								<dd>
									マスクで登録されている色を描写不可にします。逆マスクはその逆。<br>
									通常でマスク無し。また右クリックでマスクカラーの変更が可能。
								</dd>
								<dt>消しゴム(消しペン,消し四角,全消し)</dt>
								<dd>
									透過レイヤー上を白で塗り潰した場合、下のレイヤーが見えなくなりますので上位レイヤーの線を消す時にはこのツールで消す様にして下さい。<br>
									全消しはすべてを透過ピクセル化させるツールです。<br>
									全けしを利用する場合はこのツールを選択後キャンバスをクリックでOK。
								</dd>
								<dt>描写方法の指定。(手書き,直線,ベジエ曲線)</dt>
								<dd>
									ペン先,描写機能指定ではありません。<br>
									また適用されるのはフリーライン系のツールのみです。
								</dd>
								<dt>カラーパレット郡</dt>
								<dd>
									クリックで色取得。右クリックで色の登録。Shift+クリックでデフォルト値。
								</dd>
								<dt>RGBバーとalphaバー</dt>
								<dd>
									細かい色の変更と透過度の変更。Rは赤,Gは緑,Bは青,Aは透過度を指します。<br>
									トーンはAlphaバーで値を変更する事で密度の変更が可能です。
								</dd>
								<dt>線幅変更ツール</dt>
								<dd>
									水彩ペンを選択時に線幅を変更した時、デフォルトの値がalpha値に代入されます。
								</dd>
								<dt>線一時保存ツール</dt>
								<dd>
									クリックでデータ取得。右クリックでデータの登録。(マスク値は登録しません)
								</dd>
								<dt>レイヤーツール</dt>
								<dd>
									PaintBBSは透明なキャンバスを二枚重ねたような構造になっています。<br>
									つまり主線を上に書き、色を下に描くと言う事も可能になるツールです。<br>
									通常レイヤーと言う種類の物ですので鉛筆で描いたような線もキッチリ透過します。<br>
									クリックでレイヤー入れ替え。右クリックで選択されているレイヤの表示、非表示切り替え。
								</dd>
							</dl>
						</section>
						<h2>投稿に関して</h2>
						<section>
							<p>
								絵が完成したら投稿ボタンで投稿します。絵の投稿が成功した場合は指定されたURLへジャンプします。失敗した場合は失敗したと報告するのみでどこにも飛びません。単に重かっただけである場合少し間を置いた後、再度投稿を試みて下さい。この際二重で投稿される場合があるかもしれませんが、それはWebサーバーかPHP側の処理ですのであしからず。
							</p>
						</section>
					</section>
				</div>
			</section>
			<!-- (========== PAINT MODE(お絵かきモード) end ==========) -->
			<% /def %>
			<% def(pch_mode) %>
			<!-- (========== 動画表示モード ==========) -->
			<article id="appstage">
				<div class="app">
					<div style="width:<% echo(w) %>px; height:<% echo(h) %>px">
					<% def(paintbbs) %>
					<% def(type_neo) %>
					<applet-dummy code="pch.PCHViewer.class" archive="PCHViewer.jar,PaintBBS.jar" name="pch" width="<% echo(w) %>" height="<% echo(h) %>" mayscript>
						<% elsedef %>
					<applet code="pch.PCHViewer.class" archive="PCHViewer.jar,PaintBBS.jar" name="pch" width="<% echo(w) %>" height="<% echo(h) %>" mayscript>
					<% /def %>
					<% /def %>
					<% def(normal) %>
					<applet name="pch" code="pch2.PCHViewer.class" archive="PCHViewer.jar,spainter_all.jar" codebase="./" width="<% echo(w) %>" height="<% echo(h) %>">
					<% /def %>
						<% def(normal) %>
						<param name="res.zip" value="res.zip"><!--(しぃペインターv1.05_9以前を使うなら res_normal.zip に変更)-->
						<param name="tt.zip" value="tt_def.zip">
						<param name="tt_size" value="31">
						<% /def %>
						<param name="image_width" value="<% echo(picw) %>">
						<param name="image_height" value="<% echo(pich) %>">
						<param name="pch_file" value="<% echo(pchfile) %>">
						<param name="speed" value="<% echo(speed) %>">
						<param name="buffer_progress" value="false">
						<param name="buffer_canvas" value="false">
						<% def(type_neo) %>
						</applet-dummy>
						<% elsedef %>
						</applet>
						<% /def %>
					</div>
					<p>
						<a href="<% echo(pchfile) %>" target="_blank">Download</a> - Datasize : <% echo(datasize) %> byte
					</p>
					<p>
						<a href="javascript:close()">閉じる</a>
					</p>
				</div>
			</article>
			<!-- (========== 動画表示モード ここまで ==========) -->
			<% /def %>
			<% def(continue_mode) %>
			<!-- (========== CONTINUE MODE(コンティニューモード) start ==========) -->
			<script type="text/javascript" src="loadcookie.js"></script>
			<section>
				<div class="thread">
					<figure>
						<img src="<% echo(picfile) %>">
						<figcaption><% echo(picfile) %><% def(painttime) %> PaintTime : <% echo(painttime) %><% /def %></figcaption>
					</figure>
					<hr class="hr">
					<form action="<% echo(self) %>" method="post">
						<input type="hidden" name="mode" value="contpaint">
						<input type="hidden" name="anime" value="true">
						<input type="hidden" name="picw" value="<% echo(picw) %>">
						<input type="hidden" name="pich" value="<% echo(pich) %>">
						<input type="hidden" name="no" value="<% echo(no) %>">
						<input type="hidden" name="pch" value="<% echo(pch) %>">
						<input type="hidden" name="ext" value="<% echo(ext) %>">
						<select class="form" name="ctype">
							<% def(ctype_pch) %><option value="pch">from animation</option><% /def %>
							<% def(ctype_img) %><option value="img">from picture</option><% /def %>
						</select>
						<select class="form" name="type">
							<option value="rep">replace</option>
							<option value="new">newpost</option>
						</select>
						<% def(use_select_palettes) %>
							パレット：<select name="selected_palette_no" title="パレット" class="form"><% echo(palette_select_tags) %></select>
							<% /def %>

						<% def(passflag) %>Pass<input class="form" type="password" name="pwd" size="8" value=""> <% /def %>
						<input class="button" type="submit" value="続きを描く">
						<!-- NEOを使う -->
						<% if(ctype_pch,==,false) %>
						<label><input type="checkbox" name="useneo" checked="checked" /><span class="use_neo">USE NEO</span></label>
						<% /if %>
						<% def(applet) %>
						<input type="hidden" name="shi" value="1">
						<% elsedef %>
						<input type="hidden" name="useneo" value="1">
						<% /def %>
					</form>
					<% def(passflag) %>
					<ul>
						<% def(newpost_nopassword) %>
						<li>新規投稿なら削除キーがなくても続きを描く事ができます。</li>
						<% elsedef %>
						<li>続きを描くには描いたときの削除キーが必要です。</li>
						<% /def %>
						</ul>
					<% /def %>
				</div>
				<script type="text/javascript">
				l(); //LoadCookie
				</script>
			</section>
			<!-- (========== CONTINUE MODE(コンティニューモード) end ==========) -->
			<% /def %>
		</main>
		<footer>
			<article class="copy">
				<!-- 著作権表示 削除しないでください -->
				<!-- GazouBBS v3.0 --><!-- ふたば改0.8 --><!-- POTI-board -->
				<p>
					<a href="https://pbbs.sakura.ne.jp/poti/" target="_top" title="POTI-board改二 <% echo(verlot) %>">POTI-board改二 <% echo(ver) %></a>
					Web Style by <a href="https://pbbs.sakura.ne.jp/poti/" target="_top" title="MONO <% echo(tver) %>">MONO</a>
				</p>
				<p>
					OriginalScript -
					<a href="http://www.punyu.net/" target="_top" title="POTI-board (by PunyuNet)">POTI-board</a>
					<a href="http://www.2chan.net/" target="_top" title="futaba.php v0.8 lot.031015 (by futaba)">futaba.php</a>
					(<a href="http://php.loglog.jp/" target="_top" title="gazou.php v3.0 (by Let's PHP!)">gazou.php</a>custom )
				</p>
				<% def(paint) %>
				<p>
					OekakiApplet - <a href="http://hp.vector.co.jp/authors/VA016309/" target="_blank" rel="noopener noreferrer" title="by しぃちゃん">Shi-Painter</a>
				</p>
				<% /def %>
				<p>
					UseFunction -
					<a href="http://skinny.sx68.net/" target="_top" title="Skinny.php (by Kuasuki)">Skinny.php</a>
					DynamicPalette <!-- http://wondercatstudio.com/ -->
					<a href="https://github.com/funige/neo/" target="_top" title="by ImageCanvas">PaintBBS NEO</a>
				</p>
			</article>
		</footer>
	</body>
</html>
