@charset "UTF-8";

//スタイル設定ファイル

//色指定とか
$ushiro: rgb(209, 206, 158);		//一番後ろ
$haikei: #FEFEFE;		//スレ背景
$moji: #000;			//文字
$link: #00F;			//リンクの文字
$link_visited: #666;	//訪問済みリンク
$link_active: #F33;		//アクティブなリンク
$link_hover: #F33;		//マウスカーソルが上に載ってる時のリンク
$resmoji: rgb(80, 85, 68);			//レスの文字
$border: #000;          //ボーダーとスレタイトルの左
$b_border: #F66;        //ボタンのボーダー
$b_border_u: #300;       //ボタンのボーダーその2
$button: #F96;			//返信とかのボタン
$button_moji: #FFF;		//ボタンの文字色
$form_txt: #000;		//テキスト入力欄の文字色
$form_txt_bk: #EEEEEE;	//テキスト入力欄の背景色
$th_bg: #F66;           //スレタイトルの背景と削除画面のテーブルの奇数行

//NEO色指定
$bk: #F96;				//アプレット背景
$bk2: #963;				//アプレット背景の網状のあれ
$tool_icon: #693;		//「窓」とか
$icon: #360;			//
$iconselect: #360;		//選択してるアイコン
$text: #FFF;			//文字
$bar: #963;				//バー
$tool_button: #966;		//ツールボタン「鉛筆」とか
$tool_button2: #633;	//選択中ツールボタン
$tool_text: #FFF;		//ツールボタンの文字
$tool_bar: #F96;		//ツールバーの色
$tool_frame: #963;		//フレームの色
//--------
$cat_img_size: 150px;	//カタログモードのイメージサイズ